@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    color: #3a3a3a;
}

h1 {
    font-family: Indie Flower, sans-serif;
    color: #3a3a3a;
}

h2 {
    font-family: Rubik, sans-serif;
    color: #3a3a3a;
}

/* navigation menu */

nav {
    height: 50px;
    background-color: #f3f3f3;
}

#nav-link ul {
    height: 50px;
}

#nav-links li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 180%;
    width: 24%;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
}

#nav-links a {
    text-decoration: none;
    color: #3a3a3a;
}

#nav-links a:hover {
    text-decoration: underline;
    color: #575b50;
}

/* yoga image */

#home-yoga {
    height: 700px;
    background-image: url(../images/yogi_dog.webp);
    background-repeat: no-repeat;
    background-position: center -150px;
}

/* #cover-text {
    float: right;
    margin-right: 20%;
    margin-top: 40px;
    border: solid 1px #3a3a3a;
    background-color: #f3f3f3aa;
    border-radius: 30px;
    padding: 30px 50px;
}

#cover-text h1 {
    font-size: 500%;
} */

#home-yoga h1 {
    float: right;
    margin-right: 10%;
    margin-top: 80px;
    font-size: 500%;
    padding: 30px;
    border: solid 1px #3a3a3a;
    background-color: #f3f3f3aa;
    border-radius: 30px;
}

/* Information & Sign up section */

#information {
    height: 260px;
}

#information h2 {
    width 50%
    float: left;
    margin-left: 30px;
    margin-top: 60px;
    font-size: 150%;
}

#information li {
    font-size: 120%;
    width: 50%;
    clear: left;
    padding-left: 30px;
    margin-bottom: 15px;
    list-style-type: circle;
}

#information a {
    font-size: 2rem;
    float: right;
    border: 2px solid #3a3a3a;
    border-radius: 30px;
    background-color: #575b50;
    text-decoration: none;
    color: #f3f3f3;
    padding: 40px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    bottom: 200px;
    margin-right: 15%;
}

#information a:hover {
    background-color: #f3f3f3;
    color: #3a3a3a;
}

/* Classes */

#classes {
    height: 260px;
}

.class-box {
    width: 30%;
    height: 260px;
    border: #3a3a3a 1px solid;
    box-shadow: 2px 2px 2px #3a3a3a;
    text-align: center;
}

#beginner {
    float: left;
    margin-left: 3%;
}

#advanced {
    float: right;
    position: relative;
    bottom: 262px;
    right: 3%;
}

#intermediate {
    margin: 0 auto;
}