@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    color: #3a3a3a;
}

h1 {
    font-family: Indie Flower, sans-serif;
    color: #3a3a3a;
}

h2, h3 {
    font-family: Rubik, sans-serif;
    color: #3a3a3a;
}

/* navigation menu */

nav {
    height: 50px;
    background-color: #f3f3f3;
}

#nav-links {
    text-align: center;
}

#nav-links li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 180%;
    margin: 0 40px;
    line-height: 50px;
}

#nav-links a {
    text-decoration: none;
    color: #3a3a3a;
}

#nav-links a:hover {
    text-decoration: underline;
    color: #575b50;
}

/* yoga image */

#home-yoga {
    height: 700px;
    background-image: url(../images/yogi_dog.webp);
    background-repeat: no-repeat;
    background-position: center -150px;
}

#home-yoga h1 {
    float: right;
    margin-right: 10%;
    margin-top: 80px;
    font-size: 500%;
    padding: 30px;
    border: solid 1px #3a3a3a;
    background-color: #f3f3f3aa;
    border-radius: 30px;
}

/* Information & Sign up section */

#information-sign-up {
    height: 400px;
}

#information {
    width: 50%;
    float: left;
}

#information h2 {
    
    margin-left: 10%;
    margin-top: 80px;
    font-size: 200%;
}

#information ul {
    margin-top: 10px;
    margin-left: 10%;
}

#information li {
    font-size: 110%;
    margin-bottom: 15px;
    list-style-type: none;
}

#information-sign-up a {
    font-size: 2rem;
    float: right;
    border: 2px solid #3a3a3a;
    border-radius: 30px;
    background-color: #575b50;
    text-decoration: none;
    color: #f3f3f3;
    padding: 40px;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 15%;
    display: inline-block;
    margin-top: 120px;
}

#information-sign-up a:hover {
    background-color: #f3f3f3;
    color: #3a3a3a;
}

/* Classes */

#classes {
    height: 400px;
}

#classes h2 {
    text-align: center;
    font-size: 250%;
    margin-bottom: 20px;
}

#classes h3 {
    font-size: 150%;
    margin-top: 20px;
}

#classes p {
    margin-left:20px;
    margin-top: 10px;
    font-size: 110%;
    text-align: left;
}

#beginner {
    float: left;
    margin-left: 3%;
    width: 30%;
    height: 260px;
    border: #3a3a3a 1px solid;
    box-shadow: 2px 2px 2px #3a3a3a;
    text-align: center;
}

#advanced {
    float: right;
    margin-right: 3%;
    width: 30%;
    height: 260px;
    border: #3a3a3a 1px solid;
    box-shadow: 2px 2px 2px #3a3a3a;
    text-align: center;
}

#intermediate {
    margin: 0 auto;
    
    width: 30%;
    height: 260px;
    border: #3a3a3a 1px solid;
    box-shadow: 2px 2px 2px #3a3a3a;
    text-align: center;
}

/* Schedule */

#schedule {
    height: 350px;
}

#schedule h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 250%;
}

#schedule table {
    margin: 0 auto;
    font-size: 130%;
}

#schedule th {
    padding: 20px;
    font-weight: 900;
    border-bottom: #3a3a3a 1px solid;
}
#schedule td {
    padding: 20px;
}

#schedule #left-table {
    border-right: #3a3a3a 1px solid;
    font-weight: 900;
}

/* footer */

footer {
    height: 100px;
    background-color: #575b50;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    margin: 0 2%;
    font-size: 200%;
    color: #f3f3f3;
    line-height: 100px;
}

footer a {
    text-decoration: none;
    color: #f3f3f3;
    text-transform: uppercase;
}

footer a:hover {
    text-decoration: underline;
}

/* Sign up form */

#sign-up-form {
    height: 1600px;
}

#sign-up-form img {
    width: 70%;
    margin: 0 15%;
}

form {
    margin-left: 30%;
}

label {
    font-size: 120%;
}

.form-text {
height: 20px;
width: 300px;
border: #3a3a3a 1px solid;
margin-bottom: 10px;
}

button {
    margin-top: 50px;
    border: #3a3a3a 2px solid;
    border-radius: 50%;
    height: 80px;
    width: 160px;
    background-color: #f3f3f3;
    font-size: 130%;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-right: 50px;
}

button:hover {
    background-color: #3a3a3a;
    color: #f3f3f3;
}

/* responsive design */

@media screen and (max-width: 1200px) {
    #classes {
        height: 1000px;
    }
    #beginner {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    #advanced {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    #intermediate {
        width: 90%;
    }
    #sign-up-form img {
        width: 90%;
        margin: 0 5%;
    }

}

@media screen and (max-width: 950px) {
    #information-sign-up {
        height: 800px;
    }
    #information-sign-up a {
        float: none;
        margin-top: 20px;
    }
    footer li {
        font-size: 100%;
        margin: 0 20px;
    }
    #nav-links li {
        font-size: 80%;
        margin: 0 20px;
    }
    #home-yoga h1 {
        font-size: 300%;
    }
}